/* ------------------------------------------- */
/* 1. Reset Básico y Tipografía (Base)         */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* 2. Navegación Fija (position: sticky)        */
/* ------------------------------------------- */



/* ------------------------------------------- */
/* 3. Layout Principal (Index.html)            */
/* ------------------------------------------- */



/* ------------------------------------------- */
/* 4. Estilos de Campeones (campeones.html)    */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* 5. Estilos de Formulario (contacto.html)    */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* 6. Responsividad Móvil (@media Queries)     */
/* ------------------------------------------- */



/* Estilos de Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1a2333;
    border-top: 1px solid #4a698a;
    font-size: 0.8rem;
    margin-top: 20px;
}